@import url(common.css);

@import url(reset.css);

.wraper {
}
.latest-collections {
}

.latest-collections-margin
{
    margin: 120px 0 120px 0;
}
.latest-collections__container {
}

.latest-collections__link {
    
}
.latest-collections__title {
}

.latest-collections__subtitle {
}

.latest-collections__goods {
}
.gods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.gods__item {
}
.item {
}
.item__foto {
    position: relative;
    padding-bottom: 112%;
    margin-bottom: 20px;
    overflow: hidden;
}

.item__foto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.item__foto img:hover {
   transform:scale(1.1,1.1);
}
.item__link {
    display: flex;
    justify-content: space-between;
}
.item__title {
    color: #212b36;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3; /* 130% */
}
.item__price {
    color: #3056d3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; /* 150% */
    
}
.item__description {
    color: #637381;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
}

@media (max-width:750px){
    .gods {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .subtitle-page{
        margin-bottom: 30px;
    }
}
@media (max-width: 660px){
    
    .latest-collections-margin {
        margin-bottom: 60px;
    }

}

@media (max-width:400px){
    .gods {
        
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .subtitle-page{
        margin-bottom: 20px;
    }
}




/*#################################*/

.trending-iteams {
}
.trending-iteams__container {
    margin-bottom: 120px;
}

.trending-iteams__link {
    display: block;
}

.trending-items__title {

}

.trending-items__subtitle {
}

.trending-items__products {
    display: flex;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products {
}
.products__cart {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
}
.products__cart_big{
width: 57.26%;
}
.products__cart_small{
    width: 40.17%;
}
.products__cart_big .products__image {
    
    padding-bottom: 52.25%;
}
.products__cart_small .products__image {
    
    padding-bottom: 74.57%;
    
}
.products__image{
    position: relative;
    overflow: hidden;
}
.products__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    
}
.products__gradient {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 64.47%;
    width: 100%;
    background: linear-gradient(180deg, rgba(33, 43, 54, 0.00) 0%, rgba(33, 44, 54, 0.70) 100%);
    /* opacity: 0; */
    transform:translate(0,50%);
    transition: all 0.3s;

}

.products__cart:hover .products__gradient {
    opacity: 1;
    transform:translate(0,0);
}


.products__description {
    padding: 30px;
    display: grid;
    row-gap: 10px;
    grid-template: auto auto auto/ auto auto;
    justify-content: space-between;
}

.products__category {
    color:#637381;

font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 1.5; /* 150% */
}

.products__discount{
color: #3056D3;
text-align: right;
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 1.5; /* 150% */
}
.products__cart_small .products__discount {
    display: none;
}
.products__name {
    grid-column: span 2;
    color: #212B36;
font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 1.25; /* 125% */
}
.products__price {
}
.price {
}
.price__old {
        color: #B1B4B7;
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 1.333; /* 133.333% */
display: inline-block;
margin-right: 12px;
text-decoration:line-through;
}
.products__cart_small .price__old {
 display: none;
}
.price__now {
    color: #212B36;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.333; /* 133.333% */
}

@media (max-width: 660px){
    .trending-items__products {
        display: flex;
        flex-direction: column;
        
    }
    .products__cart{
        width: 100%;
    }
    .trending-iteams__container {
        margin-bottom: 60px;
    }

}
/* ######################################### */

.categories {
}
.categories__container {
    margin-bottom: 120px;
}

.categories__head {
    display: grid;
    grid-template: auto auto/auto auto;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 70px;
}
.categories__title {
    text-align: left;
    grid-column: span 2;
    
}

.categories__subtitle {
    text-align: left;
    margin-bottom: 0;
}

.categories__buttonn {
    align-self: end;
    border-radius: 4px;
    border: 1px solid #3056D3;
    color: #3056D3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5; /* 150% */
    padding: 7px 30px 7px 30px;

}
.categories__item {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
   
}
.category {
    
}
.category__item{
    border-radius: 12px;
    border: 1px solid #E7E7E7;
}

.category__item > *{
    padding-left: 12px;
    padding-right: 12px;
}

.category__img_container{
    padding-top: 12px;
}

.category__img {
    
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 66.474%;


}

.category__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category__hash {
    color: var(--TailGrids-Text-Color, #637381);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5; /* 150% */
    margin-bottom: 5px;
}
.category__title {
    color: var(--TailGrids-Black-Color, #212B36);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25; /* 125% */
    margin-bottom: 25px;
}

@media (max-width:750px){
    

    .categories__head {
        margin-bottom: 30px;
    }
}

@media (max-width:425px){
    
    .categories__head {
        grid-template: auto auto/auto;
        justify-content: space-between;
        column-gap: 10px;
        margin-bottom: 70px;
        justify-items: center;
    }
    .categories__title {
        grid-column: span 1;
        text-align: center;
        
    }
    .categories__subtitle {
        text-align: center;
    }

}

@media (max-width:400px){
    


    .categories__head {
        margin-bottom: 20px;
    }
}

@media (max-width: 660px){
    
    .categories__container  {
        margin-bottom: 60px;
    }

}

@media (max-width:667px){
    .categories__item {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
       
    }
}

/* ######################################### */


.best {
}
.best__container {
}

.best__link {
}

.best__title {
}

.best__subtitle {
}

.best__goods {
    display: grid;
    grid-template: auto/repeat(4, 1fr);
    gap: 30px;
}

.best__goods .goods-items__item:nth-child(2n+2) .price__old{
    display: none;

}
.goods-items {
}
.goods-items__item {
    display: grid;
    grid-template: auto/1fr;
    gap: 20px;
    
}
.goods-items__foto {
    position: relative;
    padding-bottom: 92.593%;
    overflow: hidden;
    border-radius: 5px;
}

.goods-items__foto img{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.goods-items__foto:hover img{
    transform: scale(1.1, 1.1);
}
.goods-items__description{
    justify-self: center;
}
.goods-items__title {
    color: #212B36;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3; /* 130% */
    margin-bottom: 5px;
    
}
.goods-items__price {
    display: flex;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5; /* 150% */
    justify-content: center;
}


.goods-items__button {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid#212B36;
    justify-self: center;
    color: #212B36;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43; /* 142.857% */
    transition: all 0.3s;
}

.goods-items__button:hover {
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 20px; /* 142.857% */
background:  #212B36;
}


@media (max-width:750px){
    .best__goods {
        grid-template: auto/repeat(2, 1fr);
    }

}


@media (max-width:400px){
    .best__goods {
        grid-template: auto/repeat(1, 1fr);
    }

}
