@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
/* font-family: 'Inter', sans-serif; */



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.title-page {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12;
    text-align: center;
    text-transform: capitalize;
    color: #212b36;
    margin-bottom: 15px;
}

.subtitle-page {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #637381;
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.title-link{
    display: block;
    color: #3056d3;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
}




.next{
    padding: 40px;
    text-align: center;
}